{% extends 'pages/index.html' %}
{% load static %}
{% block content %}
     <table id="table" class="table table-hover  table-light table-striped table-bordered">
        <thead class="thead-dark">
        <button type="button" class="bg-light text-dark btn-block "><h3>Список Категория</h3></button>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Корпус</th>
        </tr>
        </thead>
        <tbody>
        {% for campus in campusler %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <th><a href="{%url 'Campus_koruu' id=campus.id %}">{{campus.Naimenovanie}}</a></th>

            </tr>

        {% endfor %}
        </tbody>
    </table>
{% endblock %}
