{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>
        {% block title %}Учет компьютерной техники{% endblock %}
    </title>
    <link rel="icon" type="image/png" href="{% static 'images/icons/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'index/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'index/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'index/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'index/DataTables/Buttons-1.5.6/css/buttons.bootstrap4.min.css' %}">
</head>


<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="nav-link" href="{% url 'mainpage' %}">УКТ</a>
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
            class="fas fa-bars"></i></button>
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
    </form>

    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li>
                    <a class="dropdown-item" href="#!">
                        {% if request.user.first_name or request.user.last_name %}
                            {{ request.user.first_name }} {{ request.user.last_name }}
                        {% else %}
                            {{ request.user.username }}

                        {% endif %}
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider"/>
                </li>

                <li><a class="dropdown-item" href="{% url 'logout' %}">Выйти</a></li>
            </ul>
        </li>
    </ul>
</nav>

<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Core</div>
                    <a class="nav-link" href="{% url 'mainpage' %}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Панель приборов
                    </a>
                    {% if request.user.role.title == 'admin' or request.user.role.title == 'сartridge' %}
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                           data-bs-target="#collapseLayouts_1"
                           aria-expanded="false" aria-controls="collapseLayouts_1">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Учет картридж
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>


                        <div class="collapse" id="collapseLayouts_1" aria-labelledby="headingOne"
                             data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="{% url 'cartridge' %}">Картридж</a>
                            </nav>
                        </div>
                    {% endif %}
                    {% if request.user.role.title == 'admin' or request.user.role.title == 'network' %}
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                           data-bs-target="#collapseLayouts"
                           aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Учет сеть
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>

                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                             data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="{% url 'idview' %}">Списание по рапорту </a>
                            </nav>
                        </div>
                    {% endif %}

                    {% if request.user.role.title == 'admin' or request.user.role.title == 'corps_1' or request.user.role.title == 'corps_1_FIIT' or request.user.role.title == 'corps_2' or request.user.role.title == 'corps_3' or request.user.role.title == 'corps_4' or request.user.role.title == 'corps_5' or request.user.role.title == 'corps_6' or request.user.role.title == 'corps_6a' or request.user.role.title == 'corps_7' or request.user.role.title == 'corps_8' or request.user.role.title == 'corps_9' or request.user.role.title == 'corps_10' or request.user.role.title == 'corps_11' or request.user.role.title == 'corps_12' %}
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                           data-bs-target="#collapseLayouts_2"
                           aria-expanded="false" aria-controls="collapseLayouts_2">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Учет компьютерной техники
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>

                        <div class="collapse" id="collapseLayouts_2" aria-labelledby="headingOne"
                             data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="{% url 'nalichiTehniki' %}">Наличие техники</a>
                                <a class="nav-link" href="{% url 'kabinet' %}">Кабинет</a>
                                <a class="nav-link" href="{% url 'category' %}">Категория</a>
                                <a class="nav-link" href="{% url 'sostoyanieny_koruu' filter='рабочий' %}">Рабочий</a>
                                <a class="nav-link" href="{% url 'sostoyanieny_koruu' filter='не рабочий' %}">Не
                                    Рабочий</a>


                            </nav>
                        </div>
                    {% endif %}
                    {% if request.user.role.title == 'admin' %}
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                           data-bs-target="#collapseLayouts_2"
                           aria-expanded="false" aria-controls="collapseLayouts_5">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Корпус
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>

                        <div class="collapse" id="collapseLayouts_2" aria-labelledby="headingOne"
                             data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">

                                <a class="nav-link" href="{% url 'campus' %}">Корпус</a>

                            </nav>
                        </div>

                    {% endif %}

                    {% if request.user.role.title == 'admin' or request.user.role.title == 'corps_1' or request.user.role.title == 'corps_1_FIIT' or request.user.role.title == 'corps_2' or request.user.role.title == 'corps_3' or request.user.role.title == 'corps_4' or request.user.role.title == 'corps_5' or request.user.role.title == 'corps_6' or request.user.role.title == 'corps_6a' or request.user.role.title == 'corps_7' or request.user.role.title == 'corps_8' or request.user.role.title == 'corps_9' or request.user.role.title == 'corps_10' or request.user.role.title == 'corps_11' or request.user.role.title == 'corps_12' %}
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                           data-bs-target="#collapseLayouts_3"
                           aria-expanded="false" aria-controls="collapseLayouts_1">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Документы
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>


                        <div class="collapse" id="collapseLayouts_3" aria-labelledby="headingOne"
                             data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="{% url 'documentation' %}">Документы </a>
                            </nav>
                        </div>


                        {% if request.user.role.title == 'admin' or request.user.role.title == 'сartridge' %}
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                               data-bs-target="#collapseLayouts_8"
                               aria-expanded="false" aria-controls="collapseLayouts_1">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Заявка документы
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>

                            <div class="collapse" id="collapseLayouts_8" aria-labelledby="headingOne"
                                 data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{% url 'application' %}">Заявка</a>
                                    <a class="nav-link" href="{% url 'tender' %}">Заявка на тендер</a>
                                </nav>

                            </div>

                        {% endif %}


                        <img src={% static 'images/SIT.png' %} width="170" height="120" alt="IMG">
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">


                <div class="row">

                </div>

                <div class="card mb-4">
                    <div class="card-header">


                    </div>

                    {% block content %}
                    {% endblock %}

                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">&copy; Шадыбек уулу Абдулла 2023</div>

                </div>
            </div>
        </footer>
    </div>
</div>
<script src="{% static 'index/js/all.js' %}"></script>
<script src="{% static 'index/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'index/js/scripts.js' %}"></script>
<script src="{% static 'index/js/Chart.min.js' %}"></script>
<script src="{% static 'index/js/jquery.min.js' %}"></script>
<script src="{% static 'index/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'index/DataTables/DataTables-1.10.18/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'index/DataTables/DataTables-1.10.18/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'index/DataTables/Buttons-1.5.6/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'index/DataTables/Buttons-1.5.6/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'index/DataTables/JSZip-2.5.0/jszip.min.js' %}"></script>
<script src="{% static 'index/DataTables/pdfmake-0.1.36/pdfmake.min.js' %}"></script>
<script src="{% static 'index/DataTables/pdfmake-0.1.36/vfs_fonts.js' %}"></script>
<script src="{% static 'index/DataTables/Buttons-1.5.6/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'index/DataTables/Buttons-1.5.6/js/buttons.print.min.js' %}"></script>
<script src="{% static 'index/DataTables/Buttons-1.5.6/js/buttons.colVis.min.js' %}"></script>
<script src="{% static 'index/js/jquery.min.js' %}"></script>
<script src="{% static 'index/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'index/DataTables/DataTables-1.10.18/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'index/DataTables/DataTables-1.10.18/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'index/DataTables/Buttons-1.5.6/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'index/DataTables/Buttons-1.5.6/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'index/DataTables/JSZip-2.5.0/jszip.min.js' %}"></script>
<script src="{% static 'index/DataTables/pdfmake-0.1.36/pdfmake.min.js' %}"></script>
<script src="{% static 'index/DataTables/pdfmake-0.1.36/vfs_fonts.js' %}"></script>
<script src="{% static 'index/DataTables/Buttons-1.5.6/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'index/DataTables/Buttons-1.5.6/js/buttons.print.min.js' %}"></script>
<script src="{% static 'index/DataTables/Buttons-1.5.6/js/buttons.colVis.min.js' %}"></script>

<script>
    $(document).ready(function () {
        var table = $('#table').DataTable({
            buttons: ['copy', 'csv', 'print', 'excel', 'pdf', 'colvis'],
            dom:
                "<'row'<'col-md-3'l><'col-md-5'B><'col-md-4'f>>" +
                "<'row'<'col-md-12'tr>>" +
                "<'row'<'col-md-5'i><'col-md-7'p>>",
            lengthMenu: [
                [5, 10, 25, 50, 100, -1],
                [5, 10, 25, 50, 100, "All"]
            ]
        });

        table.buttons().container()
            .appendTo('#table_wrapper .col-md-5:eq(0)');
    });
</script>

</body>
</html>
