{% extends 'pages/index.html' %}
{% load static %}
{% block content %}



<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>

                <img src={% static 'images/logotip1.jpg' %} width="1600" height="300" alt="IMG">
                <img src={% static 'images/SIT.png' %} width="700" height="500" alt="IMG">








                <div class="text-center p-t-136">




                </div>
            </form>
        </div>
    </div>
</div>






{% endblock %}


